---
// Props passed from the main file
const { img, link, title, description } = Astro.props;
---

<div class="w-full lg:w-1/2 px-4 mb-8">
  <!-- col-xl-6 col-lg-6 -->
  <div class="services-two__single">
    <div class="services-two__single-img">
      <div class="inner">
        <img
          src={img.src}
          alt="s-plomberie, Expert en plomberie et en débouchage"
        />
      </div>
      <div class="icon-box">
        <a href={link}><span class="icon-right-arrow"></span></a>
      </div>
    </div>
    <div class="services-two__single-content">
      <h2><a href={link}>{title}</a></h2>
      <p>{description}</p>
      <div class="btn-box">
        <a href={link}>En savoir plus <span class="icon-plus-sign"></span></a>
      </div>
    </div>
  </div>
</div>
