---
import { seoKeys } from "../../data/seo/plomberie"; // Adjust path as needed
import { seo_places2 } from "../../data/seo_places"; // Path adjust karen agar zarurat ho
const url = "/";

---

<aside class="space-y-6">
  <!-- --- Category ---  -->
  <div class="sidebar__single sidebar__category">
    <h3 class="sidebar__title">Nos services</h3>
    <ul class="sidebar__category-list">
      <li class="active">
        <a href="/plomberie-sanitaire">Plomberie </a>
      </li>
      <li >
        <a href="/debouchage-canalisation">Débouchage</a>
      </li>
      <li>
        <a href="/contact">Contactez-nous</a>
      </li>
    </ul>
  </div>
  <!-- --- Category ---  -->

  <!-- --- support ----- -->

  <div class="sidebar__single sidebar__support">
    <div class="sidebar__support-bg" style={`background-image: url();`}></div>
    <h3 class="sidebar__suppot-title">Une question ? Un besoin?</h3>
    <div class="mt-10">
      <a href="tel:0474 56 56 56" class="thm-btn" data-text="0474 56 56 56">
        0474 56 56 56</a
      >
    </div>
  </div>

  <!-- --- support ----- -->

  <!-- Tags -->

<div class="sidebar__single sidebar__tags">
  <ul class="sidebar__tags-list">
    {
      Object.entries(seoKeys).map(([slug, label]) => (
        <li>
          <a href={`${url}service-plomberie/${slug}`} class="hover:underline">
            {label}
          </a>
        </li>
      ))
    }
    <li>
      <a href=`${url}liens_SL_Plomberie" class="hover:underline`
        >Les autres services plomberie pour la commune Bruxelles</a>
    </li>
  </ul>
</div>

  <!-- Tags -->


  <!-- Cities -->

<div class="sidebar__single sidebar__tags">
  <ul class="sidebar__tags-list">
    {
      Object.entries(seo_places2).map(([slug, value]) => (
        <li>
          <a
            href={`${url}${slug === "bruxelles" ? "entreprise-plomberie/plomberie" : "prestation-plomberie/plomberie"}/${slug}`}
            class="hover:underline"
          >
            {value}
          </a>
        </li>
      ))
    }
    <li>
      <a href={`${url}liens_plombier_plomberie_villes_bruxelles`}
        >Services Plombier et Plomberie pour les autres communes Bruxelles</a
      >
    </li>
    <li>
      <a href={`${url}liens_plombier_plomberie_communes_belgique`}
        >Service Plombier et Plomberie pour les autres communes Belgique</a
      >
    </li>
  </ul>
</div>


  <!-- Cities -->

</aside>
