---
interface Slide {
  image: string;
  heading: string;
  link: string;
  btnText: string;
  containerClasses?: string;
  contentClasses?: string;
}

interface Props {
  slides: Slide[];
}

const { slides } = Astro.props;
---

<section class="slider-one-sec style3">
  <div class="slider-carousel owl-carousel owl-theme">
    {
      slides.map((slide) => (
        <div class="slider-one__single">
          <div
            class="image-layer"
            style={`background-image: url(${slide.image});`}
          />
          <div class={`container ${slide.containerClasses || ""}`}>
            <div class="flex flex-wrap">
              <div class="w-full">
                <div
                  class={`slider-one__single-content ${slide.contentClasses || ""}`}
                >
                  <h2 set:html={slide.heading} />
                  <div class="btn-box">
                    <a
                      href={slide.link}
                      class="thm-btn"
                      data-text={slide.btnText}
                    >
                      {slide.btnText}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>
