---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/header/Header.astro";
import PageHeader from "../../../components/header/PageHeader.astro";
import Cta from "../../../components/cta/Cta.astro";
import PourquoiNousChoisir from "../../../components/pourquoi-nous-choisir/PourquoiNousChoisir.astro";

import { seoPlaces } from "../../../data/seoPlomberieNVKey";
import PlomberieTags from "../../../components/service-details/tags/PlomberieTags.astro";
import { seo_places2 } from "../../../data/seo_places";

import imgBanner from "../../../assets/images/services/s-plomberie-01.jpg";
const url = "/";

// Static paths
export const getStaticPaths = () => {
  return Object.entries(seoPlaces).map(([slug, text]) => ({
    params: { slug },
    props: { text },
  }));
};

const { text } = Astro.props;
---

<Layout title=`Plombier ${text} pour tous vos besoins de plomberie`>
  <Header />
  <PageHeader title1=`Plomberie ${text} avec S-Plomberie` />

  <!-- Services Detail Section -->
  <section class="blog-details">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap -mx-4">
        <!-- Main Content -->
        <div class="w-full lg:w-7/12 px-4">
          <div class="blog-details__left">
            <div class="blog-details__img">
              <img
                src={imgBanner.src}
                alt="Plomberie sanitaire , dépannage en urgence - 0474 56 56 56"
                loading="lazy"
              />
            </div>

            <div class="blog-details__content">
              <h2 class="blog-details__title">
                Plombier professionnel <strong>à {text}</strong> - S-Plomberie :
                intervention rapide et efficace
              </h2>
              <p class="blog-details__text-1">
                S-Plomberie est une entreprise de plomberie professionnelle
                opérant <strong>à {text}</strong>. Nous sommes spécialisés dans
                les interventions rapides et efficaces pour résoudre tous vos
                problèmes de plomberie. Nos plombiers qualifiés sont disponibles
                pour intervenir chez vous ou dans votre entreprise, peu importe
                la complexité du travail à réaliser.
              </p>

              <h2 class="blog-details__title">
                S-Plomberie - Votre partenaire de confiance pour tous vos
                besoins de plomberie <strong>à {text}</strong>
              </h2>
              <p class="blog-details__text-1">
                S-Plomberie est votre partenaire de confiance pour tous vos
                besoins de plomberie <strong>à {text}</strong>. Nous sommes
                spécialisés dans l'installation, la réparation et la maintenance
                de vos systèmes de plomberie, qu'il s'agisse de votre maison ou
                de votre entreprise. Nos plombiers expérimentés sont équipés des
                derniers outils et technologies pour garantir des résultats de
                qualité.
              </p>

              <h2 class="blog-details__title">
                Plomberie écologique <strong>à {text}</strong> - Des solutions respectueuses
                de l'environnement avec S-Plomberie
              </h2>
              <p class="blog-details__text-1">
                S-Plomberie est fier de proposer des solutions de plomberie
                écologiques <strong>à {text}</strong>. Nous sommes engagés dans
                la protection de l'environnement et sommes conscients de
                l'impact que nos activités peuvent avoir sur notre planète.
                C'est pourquoi nous proposons des solutions de plomberie
                respectueuses de l'environnement pour votre maison ou votre
                entreprise.
              </p>

              <h2 class="blog-details__title">
                Plomberie d'urgence <strong>à {text}</strong> - Disponibilité 24/7
                avec S-Plomberie
              </h2>
              <p class="blog-details__text-1">
                S-Plomberie est disponible 24/7 pour répondre à vos besoins en
                matière de plomberie d'urgence <strong>à {text}</strong>. Que
                vous ayez une fuite d'eau, une canalisation bouchée ou un
                problème de chauffage, nos plombiers d'urgence peuvent
                intervenir rapidement pour résoudre votre problème. Nous sommes
                à votre disposition à tout moment, jour et nuit.
              </p>

              <h2 class="blog-details__title">
                Installation et réparation de plomberie <strong>à {text}</strong
                > - Faites appel à l'expertise de S-Plomberie
              </h2>
              <p class="blog-details__text-1">
                S-Plomberie est votre spécialiste de l'installation et de la
                réparation de plomberie <strong>à {text}</strong>. Nous
                proposons des solutions adaptées à vos besoins, que ce soit pour
                votre maison ou votre entreprise. Nos plombiers qualifiés et
                expérimentés sont équipés des derniers outils et technologies
                pour garantir des résultats de qualité. Faites appel à notre
                expertise pour tous vos travaux de plomberie.
              </p>

              <div class="about-three__content-btn">
                <a
                  onclick="document.getElementById('devisModal').classList.remove('hidden')"
                  style="cursor: pointer"
                  class="thm-btn"
                  data-text="Demande de devis">Demande de devis</a
                >
                <a
                  href="tel:0474 56 56 56"
                  class="thm-btn"
                  data-text="Plomberie en urgence : 0474 56 56 56"
                  >Plombier en urgence: 0474 56 56 56</a
                >
              </div>
            </div>

            <!-- Blog Content Placeholder -->
          </div>
        </div>

        <!-- Sidebar -->
        <div class="w-full lg:w-5/12 mt-10 lg:mt-0">
          <div class="sidebar">
            <aside class="space-y-6">
              <!-- Category -->
              <div class="sidebar__single sidebar__category">
                <h3 class="sidebar__title">Nos services</h3>
                <ul class="sidebar__category-list">
                  <li class="active">
                    <a href="/plomberie-sanitaire">Plomberie</a>
                  </li>
                  <li>
                    <a href="/debouchage-canalisation">Débouchage</a>
                  </li>
                  <li>
                    <a href="/contact">Contactez-nous</a>
                  </li>
                </ul>
              </div>

              <!-- Support -->
              <div class="sidebar__single sidebar__support">
                <div
                  class="sidebar__support-bg"
                  style={`background-image: url();`}
                >
                </div>
                <h3 class="sidebar__suppot-title">Une question ? Un besoin?</h3>
                <div class="mt-10">
                  <a
                    href="tel:0474 56 56 56"
                    class="thm-btn"
                    data-text="0474 56 56 56"
                  >
                    0474 56 56 56
                  </a>
                </div>
              </div>

              <PlomberieTags />
              <!-- sidebar - cities -->
              <div class="sidebar__single sidebar__tags">
                <ul class="sidebar__tags-list">
                  {
                    Object.entries(seo_places2).map(([slug, value]) => (
                      <li>
                        <a
                          href={`${url}${slug === "bruxelles" ? "entreprise-plomberie/plomberie" : "prestation-plomberie/plomberie"}/${slug}`}
                          class="hover:underline"
                        >
                          {value}
                        </a>
                      </li>
                    ))
                  }

                  <li>
                    <a
                      href={`${url}liens_keywordPlomberieEncoursBruxelles/plomberie`}
                      >Plomberie pour les autres communes Bruxelles</a
                    >
                  </li>
                  <li>
                    <a href={`${url}liens_keywordPlomberieEncoursNV/plomberie`}
                      >Plomberie pour les autres communes belgique</a
                    >
                  </li>
                  <li>
                    <a
                      href={`${url}depannage-plomberie/liens_plomberie_en_urgence`}
                      >Plomberie en urgence</a
                    >
                  </li>
                </ul>
              </div>
              <!-- sidebar - cities -->
            </aside>
          </div>
        </div>
      </div>
    </div>
  </section>

  <PourquoiNousChoisir />
  <Cta />
</Layout>
