---
import Layout from "../layouts/Layout.astro";

import ctaBg from "../assets/images/cta-v1-bg.jpg";
import plumbingService from "../assets/images/services/travaux-plomberie-01.jpg";
import drainUnblockingService from "../assets/images/services/travaux-debouchage-01.jpg";
import aproposImg from "../assets/images/apropos/apropos-01.jpg";
import shape1Img from "../assets/images/shapes/pourquoi-nous-choisir-v2-shape1.png";
import pourquoiImg from "../assets/images/ressources/pourquoi-nous-choisir-05.jpg";

// Page Header
const header = {
  title1: "Travaux de plomberie",
  title2: "et de débouchage",
};
// Page Header

// Services section
const services = [
  {
    img: plumbingService,
    link: "plomberie-sanitaire",
    title: "Plomberie",
    description:
      "Un problème avec votre équipement sanitaire ? Rassurez-vous, nous enverrons à votre domicile un plombier qui prendra en charge le dépannage de votre équipement sanitaire ou sa rénovation.",
  },
  {
    img: drainUnblockingService,
    link: "debouchage-canalisation",
    title: "Débouchage canalisation",
    description:
      "Nos experts en débouchage urgent de canalisation maîtrisent les techniques les plus éprouvées pour venir à bout des bouchons. Sous votre demande, un plombier déboucheur viendra à votre domicile.",
  },
];

// Services section
---

<Layout
  title="Travaux de plomberie et débouchage en urgence - 0474 56 56 56"
  description="S-Plomberie, nous bénéficions d'une expérience de plus de 20 ans en installation, réparation d'équipement plomberie sanitaire et débouchage des canalisations."
>
  <!-- Page header with main and subtitle -->
   <section class="page-header">
    <div class="page-header__bg" style="background-color: #4683c4;"></div>
    <div class="max-w-7xl mx-auto px-4">
      <div class="flex flex-wrap">
        <div class="w-full">
          <div class="page-header__wrapper">
            <div class="page-header__content">
              <h1 class="text-center">
                {header.title1}<br />{header.title2}
              </h1>
              <div class="text-center">
                <a
                  href="tel:0474565656"
                  class="thm-btn"
                  data-text="Plombier en urgence : 0474 56 56 56"
                >
                  Plombier en urgence: 0474/56.56.56
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Page header with main and subtitle -->

  

  <!-- About section component -->

  <section class="about-one-sec about-one-sec--about">
    <div class="container-fluid">
      <div class="flex flex-wrap">
        <!-- Image -->
        <div class="w-full xl:w-1/2">
          <div class="about-one__img-box">
            <div
              class="about-one__img-box-bg bg-cover bg-center"
              style={`background-image: url(${aproposImg.src});`}
            >
            </div>

            <div class="about-one__img-box-overlay">
              <h2>
                <span class="plus"></span>Plus de
                <span data-count="7">07</span> ans<br /> d'expérience
              </h2>
            </div>
          </div>
        </div>

        <!-- Content -->
        <div class="w-full xl:w-1/2">
          <div class="about-one__content">
            <div class="sec-title">
              <div class="sec-title__tagline">
                <div class="h6">S-Plomberie</div>
                <span class="right"></span>
              </div>
              <h2 class="sec-title__title">
                Entreprise de plomberie et de débouchage
              </h2>
              <p class="sec-title__text">
                Chez <strong>S-Plomberie</strong>, nous bénéficions d'une
                expérience de <a href="plomberie-sanitaire"
                  ><strong class="hover:text-[#0C63E4]"
                    >plus de 7 ans en installation, réparation d'équipement
                    sanitaire</strong
                  ></a
                > et <a href="debouchage-canalisation"
                  ><strong class="hover:text-[#0C63E4]"
                    >débouchage de canalisation</strong
                  ></a
                >. Nous maîtrisons de ce fait parfaitement les différents
                problèmes qui peuvent survenir dans une installation sanitaire
                et les solutions adéquates.
              </p>
              <p>
                À votre demande, <strong>un plombier</strong> expérimenté de notre
                équipe se rendra à votre domicile. Il s'assurera alors, selon le
                cas, du dépannage de votre <strong
                  >installation sanitaire</strong
                > ou du
                <strong>débouchage</strong> de votre canalisation. N'hésitez donc
                pas à solliciter nos services de plomberie sanitaire et de débouchage
                des canalisations en Belgique.
              </p>
              <p>
                <strong>S-Plomberie</strong> est votre partenaire privilégié en <strong
                  >Belgique</strong
                > pour vos problèmes de plomberie sanitaire et de débouchage de canalisations.
                Nous mettons à votre disposition nos services de plomberie sanitaire
                et de débouchage de canalisation
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section pourquoi nous choisir -->
  <section class="why-choose-two-sec">
    <div
      class="shape1 wow slideInLeft"
      data-wow-delay="100ms"
      data-wow-duration="2500ms"
    >
      <img
        src={shape1Img.src}
        alt="s-plomberie.be, Expert en plomberie et en débouchage"
      />
    </div>

    <div class="w-full px-4 md:px-6 lg:px-8">
      <!-- container -->
      <div class="flex flex-wrap -mx-4">
        <!-- row -->

        <div class="w-full xl:w-1/2 px-4">
          <!-- col-xl-6 -->
          <div class="why-choose-two__content">
            <div class="sec-title">
              <div class="sec-title__tagline">
                <div class="h6 !text-white">S-Plomberie</div>
                <span class="right"></span>
              </div>
              <h2 class="sec-title__title">Pourquoi choisir S-Plomberie</h2>
              <p class="sec-title__text">
                <strong>S-plomberie</strong> met votre disposition des services de
                <strong>plomberie sanitaire</strong> et de
                <strong>débouchage de canalisation de qualité</strong>.
                <strong>Un plombier</strong> expert de notre équipe interviendra
                à votre domicile pour la remise en état de votre plomberie
                <strong>en toute urgence</strong>.
              </p>
              <p class="sec-title__text">
                Nous bénéficions <strong
                  >d'une expérience de plus de 7 ans</strong
                > en
                <strong>installation plomberie</strong> et
                <strong>débouchage de canalisation</strong>. À votre demande, un <strong
                  >plombier expérimenté</strong
                > de notre équipe se rendra à votre domicile en toute urgence.
              </p>
            </div>
          </div>
        </div>

        <div class="w-full xl:w-1/2 px-4">
          <!-- col-xl-6 -->
          <div
            class="why-choose-two__img"
            style={`background-image: url(${pourquoiImg.src});`}
          >
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- About section component -->

  <!-- Services section component -->
  <section class="services-two-sec">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="sec-title text-center">
        <div class="sec-title__tagline">
          <span class="left"></span>
          <div class="h6">S-Plomberie</div>
          <span class="right"></span>
        </div>
        <h2 class="sec-title__title">
          Entreprise depannage plomberie<br />
          et de débouchage de canalisation
        </h2>
      </div>

      <div class="flex flex-wrap -mx-4">
        {
          services.map((service) => (
            <div class="w-full lg:w-1/2 px-4 mb-8">
              <div class="services-two__single">
                <div class="services-two__single-img">
                  <div class="inner">
                    <img
                      src={service.img.src}
                      alt={`s-plomberie - ${service.title}`}
                    />
                  </div>
                  <div class="icon-box">
                    <a href={service.link}>
                      <span class="icon-right-arrow" />
                    </a>
                  </div>
                </div>
                <div class="services-two__single-content">
                  <h2>
                    <a href={service.link}>{service.title}</a>
                  </h2>
                  <p>{service.description}</p>
                  <div class="btn-box">
                    <a href={service.link}>
                      En savoir plus <span class="icon-plus-sign" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
  <!-- Services section component -->

  <!-- Call to action section -->
  <section class="cta-one relative">
    <!-- Background image with Astro import -->
    <div
      class="cta-one__bg absolute inset-0 z-0 bg-cover bg-center"
      style={`background-image: url(${ctaBg.src});`}
    >
    </div>

    <!-- Content inside container -->
    <div class="container mx-auto relative z-10 py-16">
      <div class="grid grid-cols-1">
        <div class="cta-one__inner text-center">
          <h2 class="text-2xl font-semibold text-white">
            S-Plomberie est à votre Service pour Toute Intervention en urgence
            24h/7j
          </h2>

          <ul class="cta-one__list my-4">
            <li>
              <p><strong>Plomberie</strong></p>
            </li>
            <li>
              <p><strong>Débouchage</strong></p>
            </li>
          </ul>

          <div class="cta-one__btn-box">
            <div class="btn-box1">
              <a
                href="tel:+32474565656"
                class="thm-btn"
                data-text="Nous appeler"
                >0474 56 56 56
              </a>
            </div>
            <div class="btn-box2">
              <a
                onclick="document.getElementById('devisModal').classList.remove('hidden')"
                style="cursor: pointer"
                class="thm-btn"
                data-text="Demande de devis">Demande de divs</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Call to action section -->
</Layout>
