---
import Layout from "../layouts/Layout.astro";

import ctaBg from "../assets/images/cta-v1-bg.jpg";
import img1 from "../assets/images/ressources/pourquoi-nous-choisir-01.jpg";
import img2 from "../assets/images/ressources/pourquoi-nous-choisir-02.jpg";
import img3 from "../assets/images/ressources/pourquoi-nous-choisir-03.jpg";
import img4 from "../assets/images/ressources/pourquoi-nous-choisir-04.jpg";
import imgBanner from "../assets/images/services/s-plomberie-01.jpg";

import { seoKeys } from "../data/seo/plomberie";
import { seo_places2 } from "../data/seo_places";
const url = "/";

// Page Header
const header = {
  title1: "Plombier professionnel à votre service | S-Plomberie",
  title2: "",
};
// Page Header
---

<Layout
  title="Plombier professionnel | S-Plomberie - Service de plomberie rapide et fiable"
  description="S-Plomberie offre des services de plomberie rapides et fiables pour les particuliers et les entreprises. Contactez nos plombiers professionnels pour des solutions sur mesure respectueuses de l'environnement. Disponible 24/7."
>

  <!-- Page header with main title -->
  <section class="page-header">
    <div class="page-header__bg" style="background-color: #4683c4;"></div>
    <div class="max-w-7xl mx-auto px-4">
      <div class="flex flex-wrap">
        <div class="w-full">
          <div class="page-header__wrapper">
            <div class="page-header__content">
              <h1 class="text-center">
                {header.title1}<br />{header.title2}
              </h1>
              <div class="text-center">
                <a
                  href="tel:0474565656"
                  class="thm-btn"
                  data-text="Plombier en urgence : 0474 56 56 56"
                >
                  Plombier en urgence: 0474/56.56.56
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Page header with main title -->
   

  <!-- Detailed section for plumbing services -->
  <section class="blog-details">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap -mx-4">
        <!-- Main Content -->
        <div class="w-full lg:w-7/12 px-4">
          <div class="blog-details__left">
            <div class="blog-details__img">
              <img
                src={imgBanner.src}
                alt="Plomberie sanitaire , dépannage en urgence - 0474 56 56 56"
                loading="lazy"
              />
            </div>

            <div class="blog-details__content">
              <h2 class="blog-details__title">
                Service de plomberie professionnel pour tous vos besoins de
                réparation et d'installation
              </h2>
              <p class="blog-details__text-1">
                Chez <strong>S-Plomberie</strong>, nous sommes fiers de proposer <strong
                  >un service de plomberie professionnel</strong
                > pour répondre à tous vos besoins en matière de réparation et d'installation.
                Notre é<strong>quipe de plombiers qualifiés</strong> est expérimentée
                dans tous les aspects de la <strong>plomberie</strong>, des
                réparations mineures aux installations complètes de systèmes de
                plomberie.
              </p>
              <p class="blog-details__text-1">
                Nous savons à quel point il est important d'avoir un <strong
                  >système de plomberie fonctionnel</strong
                > pour votre maison ou votre entreprise, c'est pourquoi nous sommes
                là pour vous aider en cas de besoin. Nous offrons des solutions durables
                pour résoudre tous vos problèmes de plomberie et nous sommes là pour
                vous aider à maintenir votre système de plomberie en parfait état
                de fonctionnement.
              </p>

              <h2 class="blog-details__title">
                Des <strong>plombiers qualifiés</strong> et expérimentés pour des
                solutions de plomberie durables
              </h2>
              <p class="blog-details__text-1">
                Chez <strong>S-Plomberie</strong>, nous employons uniquement des
                plombiers qualifiés et expérimentés pour offrir des solutions de <strong
                  >plomberie</strong
                > durables. Nos plombiers ont suivi une formation approfondie et
                ont l'expérience nécessaire pour résoudre les problèmes de plomberie
                les plus complexes.
              </p>
              <p class="blog-details__text-1">
                Nous sommes fiers de notre engagement envers la satisfaction de
                nos clients et nous nous efforçons de fournir des solutions
                durables pour chaque travail que nous entreprenons. Nous sommes
                également en mesure de fournir des conseils d'experts sur les
                meilleures pratiques pour l'entretien de votre <strong
                  >système de plomberie</strong
                >, afin de vous aider à éviter les problèmes à l'avenir.
              </p>

              <h2 class="blog-details__title">
                Installation et réparation de systèmes de plomberie pour les
                maisons et les entreprises
              </h2>
              <p class="blog-details__text-1">
                Chez <strong>S-Plomberie</strong>, nous proposons des services
                d'installation et de réparation de systèmes de plomberie pour
                les maisons et les entreprises. Que vous ayez besoin d'une
                nouvelle installation pour votre maison ou votre entreprise, ou
                que vous ayez besoin de réparations pour un système existant,
                notre équipe de plombiers qualifiés est là pour vous aider.
              </p>
              <p class="blog-details__text-1">
                Nous sommes équipés pour gérer tous les types de systèmes de
                plomberie, des systèmes les plus simples aux systèmes les plus
                complexes. Nous sommes également fiers d'offrir des solutions
                personnalisées pour répondre à vos besoins spécifiques en
                matière de plomberie.
              </p>

              <h2 class="blog-details__title">
                Service d'urgence de plomberie disponible 24h/24 et 7j/7 pour
                répondre à tous vos besoins
              </h2>
              <p class="blog-details__text-1">
                Chez S-Plomberie, nous savons que les problèmes de <strong
                  >plomberie</strong
                > peuvent survenir à tout moment, même en dehors des heures de travail
                normales. C'est pourquoi nous offrons <strong
                  >un service d'urgence de plomberie
                </strong>disponible 24h/24 et 7j/7 pour répondre à tous vos
                besoins, peu importe l'heure ou le jour.
              </p>
              <p class="blog-details__text-1">
                <strong>Notre équipe de plombiers </strong>qualifiés est prête à
                intervenir rapidement en cas d'urgence, que ce soit pour des
                fuites d'eau, des canalisations bouchées, des ruptures de
                conduites, ou tout autre problème de plomberie. Nous comprenons
                l'importance d'une intervention rapide pour minimiser les
                dommages causés par une fuite ou une autre urgence de plomberie.
              </p>
              <p class="blog-details__text-1">
                Nous offrons également des tarifs compétitifs pour nos <strong
                  >services d'urgence de plomberie</strong
                >, afin que vous puissiez obtenir l'aide dont vous avez besoin
                sans avoir à vous soucier des coûts élevés. Chez S-Plomberie,
                nous sommes là pour vous aider en cas d'urgence de plomberie, 24
                heures sur 24 et 7 jours sur 7.
              </p>

              <h2 class="blog-details__title">
                Des solutions de plomberie écologiques et respectueuses de
                l'environnement pour votre maison ou votre entreprise
              </h2>
              <p class="blog-details__text-1">
                Chez S-Plomberie, nous sommes conscients de l'importance de
                préserver l'environnement et de réduire notre empreinte carbone.
                C'est pourquoi nous proposons des solutions de <strong
                  >plomberie écologiques</strong
                > et respectueuses de l'environnement pour votre maison ou votre
                entreprise.
              </p>
              <p class="blog-details__text-1">
                Nos plombiers qualifiés sont formés aux dernières technologies
                et pratiques de plomberie écologique pour vous proposer des
                options qui réduiront votre consommation d'eau, d'énergie et de
                produits chimiques. Par exemple, nous pouvons installer des
                robinets et des douches à faible débit, des toilettes à double
                chasse, des chauffe-eau solaires et des systèmes de récupération
                d'eau de pluie.
              </p>
              <p class="blog-details__text-1">
                Nous proposons également des solutions pour réduire les fuites
                d'eau et les gaspillages, qui peuvent avoir un impact
                significatif sur l'environnement et votre facture d'eau. Nous
                pouvons effectuer des audits de plomberie pour identifier les
                sources de gaspillage et vous proposer des solutions efficaces
                pour réduire votre consommation d'eau.
              </p>
              <p class="blog-details__text-1">
                En tant qu'entreprise engagée en faveur de l'environnement, nous
                nous efforçons de travailler avec des fournisseurs et des
                fabricants qui partagent nos valeurs de durabilité et de respect
                de l'environnement. Nous sommes également soucieux de la gestion
                des déchets et nous nous engageons à recycler autant de
                matériaux que possible.
              </p>
              <p class="blog-details__text-1">
                Que vous ayez besoin de solutions écologiques pour votre maison
                ou votre entreprise, chez S-Plomberie, nous sommes là pour vous
                aider à réduire votre impact environnemental tout en maintenant
                des installations de plomberie fonctionnelles et efficaces.
              </p>

              <div class="about-three__content-btn">
                <a
                  onclick="document.getElementById('devisModal').classList.remove('hidden')"
                  style="cursor: pointer"
                  class="thm-btn"
                  data-text="Demande de devis">Demande de devis</a
                >
                <a
                  href="tel:0474 56 56 56"
                  class="thm-btn"
                  data-text="Plomberie en urgence : 0474 56 56 56"
                  >Plombier en urgence: 0474 56 56 56</a
                >
              </div>
            </div>
          </div>
        </div>

        <!-- Sidebar -->
        <div class="w-full lg:w-5/12 mt-10 lg:mt-0">
          <div class="sidebar">
            <aside class="space-y-6">
              <!-- --- Category ---  -->
              <div class="sidebar__single sidebar__category">
                <h3 class="sidebar__title">Nos services</h3>
                <ul class="sidebar__category-list">
                  <li class="active">
                    <a href="/plomberie-sanitaire">Plomberie </a>
                  </li>
                  <li>
                    <a href="/debouchage-canalisation">Débouchage</a>
                  </li>
                  <li>
                    <a href="/contact">Contactez-nous</a>
                  </li>
                </ul>
              </div>
              <!-- --- Category ---  -->

              <!-- --- support ----- -->

              <div class="sidebar__single sidebar__support">
                <div
                  class="sidebar__support-bg"
                  style={`background-image: url();`}
                >
                </div>
                <h3 class="sidebar__suppot-title">Une question ? Un besoin?</h3>
                <div class="mt-10">
                  <a
                    href="tel:0474 56 56 56"
                    class="thm-btn"
                    data-text="0474 56 56 56"
                  >
                    0474 56 56 56</a
                  >
                </div>
              </div>

              <!-- --- support ----- -->

              <!-- Tags -->

              <div class="sidebar__single sidebar__tags">
                <ul class="sidebar__tags-list">
                  {
                    Object.entries(seoKeys).map(([slug, label]) => (
                      <li>
                        <a
                          href={`${url}service-plomberie/${slug}`}
                          class="hover:underline"
                        >
                          {label}
                        </a>
                      </li>
                    ))
                  }
                  <li>
                    <a href=`${url}liens_SL_Plomberie" class="hover:underline`
                      >Les autres services plomberie pour la commune Bruxelles</a
                    >
                  </li>
                </ul>
              </div>

              <!-- Tags -->

              <!-- Cities -->

              <div class="sidebar__single sidebar__tags">
                <ul class="sidebar__tags-list">
                  {
                    Object.entries(seo_places2).map(([slug, value]) => (
                      <li>
                        <a
                          href={`${url}${slug === "bruxelles" ? "entreprise-plomberie/plomberie" : "prestation-plomberie/plomberie"}/${slug}`}
                          class="hover:underline"
                        >
                          {value}
                        </a>
                      </li>
                    ))
                  }
                  <li>
                    <a href={`${url}liens_plombier_plomberie_villes_bruxelles`}
                      >Services Plombier et Plomberie pour les autres communes
                      Bruxelles</a
                    >
                  </li>
                  <li>
                    <a href={`${url}liens_plombier_plomberie_communes_belgique`}
                      >Service Plombier et Plomberie pour les autres communes
                      Belgique</a
                    >
                  </li>
                </ul>
              </div>

              <!-- Cities -->
            </aside>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Detailed section for plumbing services -->


  <!-- Why choose us -->
  <section class="why-choose-one-sec" style="background-color: #f2f3f5;">
    <div class="container mx-auto px-4">
      <!-- Bootstrap 'container' replaced -->
      <div class="flex flex-wrap">
        <!-- Bootstrap 'row' replaced -->
        <div class="w-full xl:w-1/2">
          <!-- Bootstrap 'col-xl-6' replaced -->
          <div class="why-choose-one__content">
            <div class="sec-title">
              <div class="sec-title__tagline">
                <div class="h6">Pourquoi nous chosir</div>
                <span class="right"></span>
              </div>
              <h2 class="sec-title__title">
                Service de plomberie et de débouchage canalisation
              </h2>
              <p
                class="sec-title__text"
                style="line-height: 30px; text-align: justify"
              >
                Chez <strong>S-Plomberie</strong>, nous bénéficions d'une
                expérience de plus de <strong>7 ans</strong> en installation, réparation
                d'équipement sanitaire et débouchage de canalisation. Nous maîtrisons
                de ce fait parfaitement les différents problèmes qui peuvent survenir
                dans une installation sanitaire et les solutions adéquates. À votre
                demande, un plombier expérimenté de notre équipe se rendra à votre
                domicile. Il s'assurera alors, selon le cas, du dépannage de votre
                installation sanitaire ou du débouchage de votre canalisation. N'hésitez
                donc pas à solliciter nos services de plomberie sanitaire et de débouchage
                des canalisations en Belgique.
              </p>
              <div class="h4 mt-3">Une question en plomberie? Un besoin ?</div>
              <div class="h4 mt-2">
                Appelez-nous <a href="tel:0474 56 56 56">0474 56 56 56</a>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full xl:w-1/2">
          <!-- Bootstrap 'col-xl-6' replaced -->
          <div class="why-choose-one__img">
            <div class="flex flex-wrap">
              <!-- Bootstrap 'row' replaced -->
              <div class="w-full xl:w-1/2 lg:w-1/2 md:w-1/2">
                <!-- col-xl-6 col-lg-6 col-md-6 -->
                <div class="why-choose-one__img-single">
                  <div class="img-box">
                    <img
                      src={img1.src}
                      alt="Service de plomberie et de débouchage canalisation en belgique"
                    />
                  </div>
                </div>
              </div>
              <div class="w-full xl:w-1/2 lg:w-1/2 md:w-1/2">
                <div class="why-choose-one__img-single">
                  <div class="img-box">
                    <img src={img2.src} alt="Plomberie sanitaire en belgique" />
                  </div>
                </div>
              </div>
              <div class="w-full xl:w-1/2 lg:w-1/2 md:w-1/2">
                <div class="why-choose-one__img-single">
                  <div class="img-box">
                    <img
                      src={img3.src}
                      alt="Entreprise de débouchage canalisation en blegique"
                    />
                  </div>
                </div>
              </div>
              <div class="w-full xl:w-1/2 lg:w-1/2 md:w-1/2">
                <div class="why-choose-one__img-single">
                  <div class="img-box">
                    <img
                      src={img4.src}
                      alt="Plomberie sanitaire En proximité et en urgence en belgique"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Why choose us -->

  <!-- Call to action component -->
  <section class="cta-one relative">
    <!-- Background image with Astro import -->
    <div
      class="cta-one__bg absolute inset-0 z-0 bg-cover bg-center"
      style={`background-image: url(${ctaBg.src});`}
    >
    </div>

    <!-- Content inside container -->
    <div class="container mx-auto relative z-10 py-16">
      <div class="grid grid-cols-1">
        <div class="cta-one__inner text-center">
          <h2 class="text-2xl font-semibold text-white">
            S-Plomberie est à votre Service pour Toute Intervention en urgence
            24h/7j
          </h2>

          <ul class="cta-one__list my-4">
            <li>
              <p><strong>Plomberie</strong></p>
            </li>
            <li>
              <p><strong>Débouchage</strong></p>
            </li>
          </ul>

          <div class="cta-one__btn-box">
            <div class="btn-box1">
              <a
                href="tel:+32474565656"
                class="thm-btn"
                data-text="Nous appeler"
                >0474 56 56 56
              </a>
            </div>
            <div class="btn-box2">
              <a
                onclick="document.getElementById('devisModal').classList.remove('hidden')"
                style="cursor: pointer"
                class="thm-btn"
                data-text="Demande de devis">Demande de divs</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Call to action component -->
</Layout>
