---
import ServiceSidebar from "./ServiceSidebar.astro";
const url = "/";

import imgBanner from "../../assets/images/services/s-plomberie-01.jpg";
import Plomberie from "./content/PlomberieContent.astro";
import Débouchage from "./content/DébouchageContent.astro";

// Props
interface Props {
  selectedContent: "plomberie" | "debouchage";
}

// const { activeContent} = Astro.props;
const { selectedContent } = Astro.props as Props;

// Determine active classes
const option01 = selectedContent === "plomberie" ? "active" : "";
const option02 = selectedContent === "debouchage" ? "active" : "";
---

<section class="blog-details">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap -mx-4">
      <!-- Main Content -->
      <div class="w-full lg:w-7/12 px-4">
        <div class="blog-details__left">
          <div class="blog-details__img">
            <img
              src={imgBanner.src}
              alt="Plomberie sanitaire , dépannage en urgence - 0474 56 56 56"
              loading="lazy"
            />
          </div>

          <!-- Conditionally display content -->
          {
            selectedContent === "plomberie" ? (
              <Plomberie />
            ) : selectedContent === "debouchage" ? (
              <Débouchage />
            ) : null
          }
        </div>
      </div>

      <!-- Sidebar -->
      <div class="w-full lg:w-5/12 mt-10 lg:mt-0">
        <div class="sidebar">
          <ServiceSidebar
            option01={option01}
            option02={option02}
            url={url}
            selectedContent={selectedContent}
          />
        </div>
      </div>
    </div>
  </div>
</section>
